/*
 * Skin: Gorjuss-blue
 * ------------
 */
.skin-gorjuss-blue .main-header nav.navbar {
  background-color: #72a0ba;
  background-image: url('../../images/skin/gorjuss-blue/bg.png');
  background-repeat: repeat;
}
.skin-gorjuss-blue .main-header .navbar .nav > li > a {
  color: #000;
}
.skin-gorjuss-blue .main-header .navbar .nav > li > a:hover,
.skin-gorjuss-blue .main-header .navbar .nav > li > a:active,
.skin-gorjuss-blue .main-header .navbar .nav > li > a:focus,
.skin-gorjuss-blue .main-header .navbar .nav .open > a,
.skin-gorjuss-blue .main-header .navbar .nav .open > a:hover,
.skin-gorjuss-blue .main-header .navbar .nav .open > a:focus,
.skin-gorjuss-blue .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #000;
}
.skin-gorjuss-blue .main-header .navbar .sidebar-toggle {
  color: #000;
}
.skin-gorjuss-blue .main-header .navbar .sidebar-toggle:hover {
  color: #000;
  background: rgba(0, 0, 0, 0.1);
}
.skin-gorjuss-blue .main-header .navbar .sidebar-toggle {
  color: #000;
}
.skin-gorjuss-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #728cb6;
}
@media (max-width: 767px) {
  .skin-gorjuss-blue .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-gorjuss-blue .main-header .navbar .dropdown-menu li a {
    color: #000;
  }
  .skin-gorjuss-blue .main-header .navbar .dropdown-menu li a:hover {
    background: #728cb6;
  }
}
.skin-gorjuss-blue .main-header .logo {
  background-color: #72a0ba;
  color: #000;
  border-bottom: 0 solid transparent;
}
.skin-gorjuss-blue .main-header .logo:hover {
  background-color: #728cb6;
}
.skin-gorjuss-blue .main-header li.user-header {
  background-color: #72a0ba;
}
.skin-gorjuss-blue .content-header {
  background: transparent;
}
.skin-gorjuss-blue .wrapper,
.skin-gorjuss-blue .main-sidebar,
.skin-gorjuss-blue .left-side {
  background-color: #000;
  background-image: url('../../images/skin/gorjuss-blue/bg3b.png');
  background-repeat: repeat-y;
}
.skin-gorjuss-blue .user-panel > .info,
.skin-gorjuss-blue .user-panel > .info > a {
  color: #fff;
}
.skin-gorjuss-blue .sidebar-menu > li.header {
  color: #4b646f;
  /* background: #1a2226; */
}
.skin-gorjuss-blue .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-gorjuss-blue .sidebar-menu > li:hover > a,
.skin-gorjuss-blue .sidebar-menu > li.active > a {
  color: #ffffff;
  background: rgba(0,0,0,0.5);
  border-left-color: #728cb6;
}
.skin-gorjuss-blue .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: rgba(0,0,0,0.3);
}
.skin-gorjuss-blue .sidebar a {
  color: #b8c7ce;
}
.skin-gorjuss-blue .sidebar a:hover {
  text-decoration: none;
}
.skin-gorjuss-blue .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-gorjuss-blue .treeview-menu > li.active > a,
.skin-gorjuss-blue .treeview-menu > li > a:hover {
  color: #ffffff;
  background: rgba(0,0,0,0.7);
}
.skin-gorjuss-blue .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-gorjuss-blue .sidebar-form input[type="text"],
.skin-gorjuss-blue .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-gorjuss-blue .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-gorjuss-blue .sidebar-form input[type="text"]:focus,
.skin-gorjuss-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-gorjuss-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-gorjuss-blue .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-gorjuss-blue .content-wrapper {
  background-image: url('../../images/skin/gorjuss-blue/gorjuss_mini.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.skin-gorjuss-blue .box {
    background: rgba(255,255,255,.95);
}