{#s,article_headerimg_width,text}
{#s,article_headerimg_height,text}
{#s,article_thumbnail_normal_width,text}
{#s,article_thumbnail_normal_height,text}
{#s,article_thumbnail_small_width,text}
{#s,article_thumbnail_small_height,text}