{#s,product_headerimg_width,text}
{#s,product_headerimg_height,text}
{#s,product_thumbnail_normal_width,text}
{#s,product_thumbnail_normal_height,text}
{#s,product_thumbnail_small_width,text}
{#s,product_thumbnail_small_height,text}