{#s,pagetitle_style,select,1|PAGETITLE_1;2|PAGETITLE_2;3|PAGETITLE_3;4|PAGETITLE_4}
{#s,themeset,text}
{#s,admin_headerbar,select,true;false}
{#s,admin_themeset,text}
{#s,admin_themeset_color,select,black;black-light;blue;blue-light;gorjuss-blue;gorjuss-pink;gorjuss-yellow;green;green-light;purple;purple-light;red;red-light;yellow;yellow-light}