{#
    title:[LANG_ADMIN_ADMIN_SUPPORT_TNAME]
    css:admin_support.css
#}

    <section class='supportPage'>
        <div class="col-md-12">
            <div class="box">
                <div class="box-body ">
                    <div class="well">
<!--                    <h2 class="text-center">Automatizált támogatás és hibakövető rendszerünk</h2>
                    <h4 class="rowWeb text-center text-muted">A rendszer támogatás eléréséhez kattintson az alábbi linkre és jeletkezzen be</h4>
                    <p class="rowWeb text-center"><a href="https://webed.orangescrum.com/" target="_support_web"><img src="/cb-admin/module/admin/img/orange_scrum.png" alt="OrangeScrum" /></a></p>

                    <p>&nbsp;</p>
                    <h3 class="rowApp text-center">A támogatáshoz lehetőség van akár mobil aplikációt is használni</h3>
                    <p class="rowApp text-center">
                        <a href="https://play.google.com/store/apps/details?id=com.andolasoft.orangescrum&hl=hu_HU" target="_support"><img src="/cb-admin/module/admin/img/play_store.png" alt="Google Play Store" /></a>
                        <a href="https://itunes.apple.com/us/app/orangescrum/id1132539893?mt=8" target="_support"><img src="/cb-admin/module/admin/img/app_store.png" alt="Apple App Store" /></a>
                    </p>
                    <p class="text-center text-bold text-danger">A fenti rendszer használatához és belépéshez előre egyeztetett felhasználónév és jelszó szükséges!</p>
                    </div> -->
                    <h2 class=" text-center">Támogatási lehetőségek</h2>

                    <h4 class="rowEmail text-center">Emailben:</h4>
                    <p class="rowPhone text-center">Hétfő-Vasárnap: 0-24</p>
                    <p class=" text-center"><strong><big><big><big><a href="mailto:iroda@webed.hu">iroda@webed.hu</a></big></big></big></strong></p>
                    <p>&nbsp;</p>
                    <h4 class="rowPhone text-center">Telefonon:</h4>
                    <p class="rowPhone text-center">Hétfő-Péntek: 9-17</p>
                    <p class=" text-center"><strong><big><big><big><a href="tel:+36202386606">+36 20/238-6606</a></big></big></big></strong></p>
                </div>
            </div>
        </div>
    </section>