{#s,media_image_max_height,text}
{#s,media_image_max_width,text}
{#s,media_thumbnail_normal_height,text}
{#s,media_thumbnail_normal_width,text}
{#s,media_thumbnail_small_height,text}
{#s,media_thumbnail_small_width,text}
{#s,defpage,text}
{#s,defpage,text}