<section class='accountPermissionList'>
    <div class="col-md-8 col-sm-10 col-12">
        <div class="box">
            <div class="box-header">

            </div>
            <div class="box-body ">
                {{ body|raw }}
            </div>
        </div>
    </div>
</section>