<div class="form-group form-cb-{{name}} {{class}}">
    <label>{{title}}{{required}}</label>
    <input type='numeric' class='form-control inputField_{{name}}' name='{{name}}' value='{{default_value}}' placeholder='{{title}}{{required}}' />
</div>