<div class="form-group form-cb-{{name}} {{class}}">
    <label>{{title}}{{required}}</label>
    <textarea class='form-control inputField_{{name}}' name='{{name}}' placeholder='{{title}}{{required}}'>{{default_value}}</textarea>
</div>