.slick-track {}

.slick-track .slider-elem.slick-slide {
    height: 350px;
}

.slick-track .slider-elem.slick-slide span {
    display: inline-block;
    height: 350px;
    width: 25%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.slick-track .slider-elem.slick-slide span img {
    min-height: 100%;
    width: auto;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}



@media(max-width: 700px) {
    .slick-track .slider-elem.slick-slide span {
        width: 50%;
    }
    
    .slick-track .slider-elem.slick-slide span.index-2,
    .slick-track .slider-elem.slick-slide span.index-3 {
	display:none;
    }
}

@media(max-width: 500px) {
    .slick-track .slider-elem.slick-slide span {
        width: 100%;
    }
    
    .slick-track .slider-elem.slick-slide span.index-1 {
	display:none;
    }
}