#cbAdminNavigationHeader { font-size: 16px; }
#cbAdminNavigationHeader .photo.avatar { }
#cbAdminNavigationHeader .photo.avatar.avatar-26 { max-width:26px; max-height:26px; }
#cbAdminNavigationHeader .photo.avatar.avatar-128 { max-width:128px; max-height:128px; }