{#
    title:[LANG_ACCOUNT_USERSETTINGS_PASSWORD_TITLE]
#}

<section class='accountContentDiv accountContentPageDiv account-settings account-settings-password-form'>
    <div class="accountContent col-lg-4 offset-lg-4 col-md-6 offset-md-3">
        <form name='form_userSettingsUserdata' action='' method='POST'>
            <h2 class='title'>[LANG_ACCOUNT_USERSETTINGS_PASSWORD_TITLE]</h2>

            <a href="{{back_link}}" class="btn btn-danger btn-block">[LANG_ACCOUNT_USERSETTINGS_PASSWORD_BACK_BUTTON]</a>

            <div class="form-group form-cb-original_password">
                <label for="original_password" class="control-label">[LANG_ACCOUNT_ORIGINAL_PASSWORD]</label>
                <input type="password" id="original_password" class="form-control" name="original_password" value="" required="" title="[LANG_ACCOUNT_ORIGINAL_PASSWORD_TITLE]" placeholder="" />
                <span class="help-block">[LANG_ACCOUNT_ORIGINAL_PASSWORD_HELPTEXT]</span>
                <span class='comm'></span>
            </div>
            <div class="form-group form-cb-new_password">
                <label for="last_name" class="control-label">[LANG_ACCOUNT_NEW_PASSWORD]</label>
                <input type="password" id="new_password" class="form-control" name="new_password" value="" required="" title="[LANG_ACCOUNT_NEW_PASSWORD_TITLE]" placeholder="" />
                <span class="help-block">[LANG_ACCOUNT_NEW_PASSWORD_HELPTEXT]</span>
                <span class='comm'></span>
            </div>
            <div class="form-group form-cb-new_password_reply">
                <label for="new_password_reply" class="control-label">[LANG_ACCOUNT_NEW_PASSWORD_REPLY]</label>
                <input type="password" id="new_password_reply" class="form-control" name="new_password_reply" value="" required="" title="[LANG_ACCOUNT_NEW_PASSWORD_REPLY_TITLE]" placeholder="" />
                <span class="help-block">[LANG_ACCOUNT_NEW_PASSWORD_REPLY_HELPTEXT]</span>
                <span class='comm'></span>
            </div>

            <button type='submit' class="btn btn-success btn-block" name='usersettingspasswordbutton'>[LANG_ACCOUNT_USERSETTINGS_PASSWORD_SAVE_BUTTON]</button>
        </form>
    </div>
</section>