{#
    title:[LANG_ACCOUNT_FORGOTPASSWORD_TITLE]
#}

<section class='accountContentDiv accountContentPageDiv account-forgotpassword account-forgotpassword-page'>
    <div class="accountContent col-lg-4 offset-lg-4 col-md-6 offset-md-3">
        <form name='form_forgotPassword' action='' method='POST'>
            <h2 class='title'>[LANG_ACCOUNT_FORGOTPASSWORD_TITLE]</h2>
            <div class="form-group form-cb-username">
                <label for="username" class="control-label">[LANG_ACCOUNT_USERNAME]</label>
                <input type="email" id="username" class="form-control" name="username" value="" required="" title="[LANG_ACCOUNT_USERNAME_TITLE]" placeholder="[LANG_ACCOUNT_USERNAME_EXAMPLE]" />
                <span class="help-block">[LANG_ACCOUNT_FORGOTPASSWORD_HELPTEXT]</span>
                <span class='comm'></span>
            </div>
            <button type='submit' class="btn btn-success btn-block" name='forgotpasswordbutton'>[LANG_ACCOUNT_FORGOTPASSWORD_BUTTON]</button>
        </form>
    </div>
</section>