[LANG_ACCOUNT_PASSWORD_RECOVERY_EMAIL_DEAR] {{user_display_name}}
[LANG_ACCOUNT_PASSWORD_RECOVERY_EMAIL_NEW_PASS_GET_PRETEXT]
{{email_recovery_link}}
[LANG_ACCOUNT_PASSWORD_RECOVERY_EMAIL_NEW_PASS_GET_AFTTEXT]