<table border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;border: 0px;" >
<tr>
<td align="center" style="color: #8d8d8d; font-size: 15px;line-height: 23px;">
<font face="'Open Sans', sans-serif">
[LANG_ACCOUNT_PASSWORD_RECOVERY_EMAIL_DEAR] {{user_display_name}}<br />
[LANG_ACCOUNT_PASSWORD_RECOVERY_EMAIL_NEW_PASS_GET_PRETEXT]<br />
<a href="{{email_recovery_link}}">[LANG_ACCOUNT_PASSWORD_RECOVERY_EMAIL_NEW_PASS_GET_LINK]</a><br />
[LANG_ACCOUNT_PASSWORD_RECOVERY_EMAIL_NEW_PASS_GET_AFTTEXT]
</font>
</td>
</tr>
</table>