{#
    title:[LANG_ACCOUNT_REGISTRATION_SUCCESS_TITLE]
#}

<section class='accountContentDiv accountContentPageDiv account-registration account-registration-success account-registration-success-email'>
    <div class="accountContent col-lg-4 offset-lg-4 col-md-6 offset-md-3">
        <h2 class='title'>[LANG_ACCOUNT_REGISTRATION_SUCCESS_TITLE]</h2>
        <p>[LANG_ACCOUNT_PASSWORD_REGISTRATION_SUCCESS_EMAIL_TEXT]</p>
    </div>
</section>