{#
    title:[LANG_ACCOUNT_REGISTRATION_TITLE]
#}

<section class='accountContentDiv accountContentPageDiv account-registration account-registration-closed'>
    <div class="accountContent col-lg-4 offset-lg-4 col-md-6 offset-md-3">
        <h2 class='title'>[LANG_ACCOUNT_REGISTRATION_TITLE]</h2>
        <p class='text-center'><strong>[LANG_ACCOUNT_REGISTRATION_CLOSED]</strong></p>
    </div>
</section>