{#
    title:[LANG_ACCOUNT_TITLE_USERSETUP]
#}

<section class='accountContentDiv accountContentPageDiv account-settings account-settings-page'>
    <div class="accountContent col-lg-10 col-md-10 mx-auto text-center">
        <h2 class='title'>[LANG_ACCOUNT_TITLE_USERSETUP]</h2>
        {{&adminmenu}}
        {{&usersettings_userdata}}
        {{&usersettings_password}}
        {{&usersettings_email}}
        {{&usersettings_image}}
        {{&logout}}
    </div>
</section>