{#
load:loadjquery
load:loadBootstrap4
css:cb_style.css
#}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light static-top" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" href="#">{#PAGETITLE}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            {#MODULE,MENU,MENU,["id":"1";"class":"ml-auto"]}
        </div>
    </div>
</nav>

<div id="cb-container">
{#MAIN}
</div>