body{
	background: #ec1a23 url('../images/hatter.png') no-repeat bottom center;
	font-family: "serif";
	font-size:12px;
	margin:0;
	padding:0;
}

/*oldal felépítése*/
#lap{width:1008px;
  margin:0 auto 0 auto;}
  
#fent,
#kh,
#lent{
	float:left;
	padding:0 23px 0 22px;
	width:964px;
	position:relative;
}


#fent{background:url('../images/fent.png') no-repeat center bottom;height:21px;margin-top:21px;}
#kh{background:url('../images/lapkh.png') repeat-y center center;}
#lent{background:url('../images/lent.png') no-repeat center top; height:35px; margin-bottom:250px;}

#fejlec{
	width:964px;
	height:288px;
	background:url('../images/logo.png') no-repeat left bottom;
	}
#fejlec_cover{
	width:964px;
	height:288px;
	position:absolute;
	background:url('../images/head_cover.png') repeat-y center center;
	top:0;
	z-index:200;
	}

#emberek {
	position:fixed;
	bottom:0;
	z-index:500;
	background:url('../images/hatter2.png') no-repeat center bottom;
	height:270px;
	width:1280px;
	left:50%;
	margin-left:-640px;
}
	
#balsav{
	float:left;
	width:252px;
	margin: 0;
	position:relative;
	}
#tartalom{
	float:right;
	width:700px;
	
	}
	
#lent { clear:both; }
/*design elemek*/
/*debugging*/

#boxteto {
	background:url('../images/boxfent.png') no-repeat;
	width:252px;
	height:6px;
	float:left;
	}
#box {
	background:url('../images/boxkh.png') repeat-y left center;
	width:240px;
	float:left;
	padding: 40px 10px 0 12px;
	}
#boxalj {
	background:url('../images/boxlent.png') no-repeat;
	width:252px;
	height:17px;
	float:left;
	}
	
#floatBox {
	position:absolute;
	left:17px;
	top:-107px;
	z-index:2000;
}


