<div class='articleCategoryContentDiv col-md-12 article_category_id_{{ categoryid }} {{ class }}'>
<h1 class='title'>{{ categorytitle|raw }}</h1>
<hr class='title' />
<div class='articleCategoryContents'>{{ articles|raw }}</div>
</div>